body{
    margin: 0 auto;
    width: 75%;
}

.box{
    display: flex;
    justify-content: center;
}
.box div{
    background-color: #fff1b6;
    padding: 10px;
    margin: 10px;
}
.title{
    background-color: #0077c6;
    justify-content: center;
    display: flex;
    margin: 10px;
    color: #fff;
}
