.title{
    display: flex;
    justify-content: center;
}
.bigbox1{
    justify-content: center;
    display: flex;
}
.box1{
    background-color: rgb(255, 0, 0);
    justify-content:center;
    margin: 5px;
}
.bigbox2{
    justify-content: center;
    display: flex;
}
h3{
    display: flex;
    justify-content: center;
}